* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.login-container {
    display: flex;
    min-height: 100vh;
}

/* LEFT */
.login-left {
    width: 40%;
    background: white;
    padding: 60px;
}

.login-left h1 {
    color: #243b8a;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f3b5b5;
    border-radius: 4px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 13px;
}

.options a {
    color: #243b8a;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: #263f8b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #1c2f6f;
}

.error {
    color: red;
    margin-bottom: 15px;
}

/* RIGHT */
.login-right {
    width: 60%;
    background: #405695;
}

.overlay {
    height: 100%;
    padding: 80px;
    background: rgba(30, 55, 130, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay p {
    font-size: 20px;
    line-height: 1.6;
}

.slider-dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 30px;
    height: 6px;
    background: white;
    opacity: 0.4;
    border-radius: 5px;
}

.dot.active {
    background: #f5c400;
    opacity: 1;
}
.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #243c8f;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* Admin button spacing */
.login-btn.admin {
  margin-bottom: 10px;
}

/* Sign Up button */
.signup-btn {
  width: 100%;
  padding: 14px;
  background: transparent;
  border: 2px solid #243c8f;
  border-radius: 6px;
  color: #243c8f;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0; /* directly below admin */
  transition: 0.3s ease;
}

.signup-btn:hover {
  background: #243c8f;
  color: #fff;
}